@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Prociono&family=Zen+Kaku+Gothic+New:wght@400;700&display=swap");

h1,
h2,
h3,
h4 {
  font-family: "Prociono", serif;
}

p {
  font-size: 1rem;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  overflow-x: hidden;
}

#light {
  background-color: aliceblue;
  transition: 0.25s ease-in;
  background-image: url("../bubbles.svg");
  #sidebar {
    background-color: #aeaeae85;
  }
  .announcement {
    background-color: #eeffec;
    h5,
    h6 {
      color: black;
    }
  }
}

.nav {
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  .nav-item {
    padding: 5px 12px;
    border-radius: 5px;
    transition-duration: 0.2s;
    &:hover {
      border-radius: 24px;
      background-color: #ffffff40;
    }
  }
  .current {
    background-color: #1baf64 !important;
    border-radius: 24px;
    img {
      filter: brightness(0.3);
    }
  }
}

img {
  vertical-align: 0;
}

.icon {
  width: 34px;
  font-size: 34px;
}

#dark {
  background-color: #1d201f;
  color: white;
  transition: 0.25s ease-in;
  background-image: url("../bubbles.svg");
  #sidebar {
    background-color: #00000085;
    #close {
      color: white;
    }
  }
  input {
    color: white;
  }
}

.announcement {
  background-color: #ffffff60;
  border-radius: 12px;
  transition-duration: 0.2s;
  padding: 5px 20px;
  margin-bottom: 12px;
  position: relative;
  .announcement#delete {
    position: absolute;
    right: 24px;
    &:hover {
      background-color: #f2543f !important;
    }
  }
  .announcement#edit {
    position: absolute;
    right: 90px;
    &:hover {
      background-color: #00d4ff !important;
    }
  }
  &:hover {
    background-color: #1baf64 !important;
    box-shadow: #64646450 5px 5px 24px;
    transform: scale(1.015);
  }
  h5,
  h6 {
    font-weight: 700;
    color: white;
    font-size: 2.5rem;
  }
  h6 {
    font-size: 2rem;
  }
}

#cringyVow {
  padding: 48px 12px;
  line-height: 60px;
  background-color: #1baf6440;
  border-radius: 24px;
  max-height: max-content;
  color: white;
  text-shadow: 1px 1px 2px #1d201f;

  &::after,
  &::before {
    content: '"';
    font-size: 59px;
    color: #1baf64;
  }
}

main {
  min-height: 80vh;
}

hr {
  background-color: #1baf64;
}

.about-page {
  text-shadow: 2px 2px 1px #00000063;
  font-size: 5rem;
}

.bg-aus {
  background-image: url("../realAUS.png");
  background-size: cover;
  border-radius: 10px;
  padding: 20px;
  width: 80vw;
  background-position: 50%;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.fancy-grad {
  background: linear-gradient(50deg, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 78%;
  font-size: 5.3rem;
  text-transform: uppercase;
  background-size: cover;
  font-weight: bold;
  text-shadow: 2px 2px 1px #00000063;
}

.fancy-grad-2 {
  background: linear-gradient(90deg, #f2543f, #2d13d3, #f2543f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 65%;
  background-position: right;
  font-size: 3rem;
  line-height: 4.2rem;
  font-weight: bold;
  text-shadow: 2px 2px 1px #00000063;
  margin-bottom: 80px;
}

.fancy-grad-3 {
  color: #065d33;
  font-size: 3rem;
  font-weight: bold;
}

#exhibitions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  div {
    height: 265px;
    div {
      height: 100%;
      width: 100%;
      font-size: 2.5rem;
    }
    i {
      display: block;
    }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#logo {
  max-width: max-content;
  img {
    transition-duration: 0.1s;
    width: 10rem;
    &:hover {
      filter: brightness(0.7);
    }
  }
}

#theme {
  position: absolute;
  right: 12px;
  top: 3rem;
}

#sidebar {
  height: 96vh;
  position: fixed;
  width: 34vw;
  transition: ease-in-out 0.25s;
  border-radius: 10px;
  box-shadow: 1px 1px 1rem #00000050, inset 0 0 2000px #d3d3d34d;
  backdrop-filter: blur(5px);
  margin: 1vw 0;
  z-index: 100000;

  &.open {
    left: 12px;
  }
  &.closed {
    left: -34vw;
  }

  #close {
    position: absolute;
    top: 3px;
    right: 3px;
  }

  #menu {
    position: absolute;
    left: 34vw;
    top: 3rem;
    box-shadow: 1px 1px 1rem #00000050, inset 0 0 29px #d3d3d34d;
    backdrop-filter: blur(5px);
    &:hover {
      background-color: #d3d3d34d;
    }
  }

  ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 29px;
    padding: 40px;
    a {
      border: #6c6c6c solid 2px;
      margin-bottom: 12px;
      color: #6c6c6c;
      text-shadow: 0 0 2px #00000098;
      transition: all 0.1s;
      border-radius: 10px;
      text-transform: uppercase;
      font-weight: bold;
      &:hover {
        box-shadow: 0 0 12px #ffffffb3 inset;
        border: 1px solid #ffffff;
        text-shadow: 0.068rem 0.068rem 1px #00000044;
        scale: 1.095;
        -webkit-background-clip: text;
        background-clip: text !important;
        -webkit-text-fill-color: transparent;
      }
    }
    .green:hover {
      background: linear-gradient(90deg, #065d33, #00ffa2);
    }
    .blue:hover {
      background: linear-gradient(90deg, #0e087a, #00d4ff);
    }
    .purple:hover {
      background: linear-gradient(90deg, #8b17ff, #d381ff);
    }
    .orange:hover {
      background: linear-gradient(90deg, #584fff, #ffc508);
    }
    #sidebar-img {
      margin-top: 18px;
      translate: -200px;
      transition: translate 0.3s ease-out;
      &.visible {
        translate: 0;
      }
    }
  }
}

input {
  background-color: transparent;
  width: 100%;
}

.post-input {
  margin: 30px auto;
  border: 2px solid;
  border-radius: 12px;
  padding: 16px;
}

.Dropdown-control {
  background-color: #1baf64;
}

blockquote {
  border-left: 24px solid #1baf64;
  padding: 20px;
  margin-left: 13px;
}

a {
  text-decoration: none;
  transition: 0.5s;
  padding: 8px 8px;
}

#contact-us {
  display: flex;
  flex-wrap: wrap;
  p {
    border-bottom: white 1px solid;
    padding-bottom: 8px;
    width: 100%;
    font-weight: bold;
  }
  a {
    width: 50%;
    padding: 0;
    text-decoration: underline;
  }
}

.modal-dialog {
  margin-right: 30px;
}

footer {
  background-color: #1baf64;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  i,
  a {
    color: aliceblue;
    transition: 0.3s;
    &:hover {
      color: #1d201f;
    }
  }
}

.text-justify {
  text-align: justify;
}

// mobile media query
@media (max-width: 730px) {
  .fancy-grad {
    font-size: 2.9rem;
  }
  .about-page {
    font-size: 4.4rem;
  }
  #sidebar {
    width: 100vw;
    #menu {
      left: 100vw;
    }
    &.open {
      left: 0;
    }
    &.closed {
      left: -100vw;
    }
  }
  #contact-us a {
    width: 100%;
  }
}
