@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Roboto+Slab&display=swap");

h1,
h3,
h4,
h5 {
  font-family: "Roboto Slab", serif;
}

body {
  font-family: "ABeeZee", sans-serif;
  overflow-x: hidden;
}

#light {
  background-color: aliceblue;
  transition: 0.25s ease-in;
  #sidebar {
    background-color: #aeaeae85;
  }
}

#dark {
  background-color: #1d201f;
  color: white;
  transition: 0.25s ease-in;
  #sidebar {
    background-color: #00000085;
  }
  input {
    color: white;
  }
}

#cringyVow {
  padding: 48px 12px;
  line-height: 60px;
  background-color: #1baf6440;
  border-radius: 24px;

  &::after,
  &::before {
    content: '"';
    font-size: 59px;
    color: #1baf64;
  }
}

hr {
  background-color: #1baf64;
}

#school {
  width: 100%;
}

.fancy-grad {
  background: linear-gradient(50deg, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 69%;
}

.fancy-grad-2 {
  background: linear-gradient(90deg, #f2543f, rgb(45, 19, 211), #f2543f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 41%;
}

.grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-4 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

#exhibitions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  div {
    height: 265px;
    padding: 34px 116px;
    div {
      height: 100%;
      width: 100%;
      background-color: #646464;
    }
  }
}

#sidebar {
  height: 100vh;
  position: absolute;
  width: 25vw;
  transition: ease-in-out 0.25s;
  border-radius: 10px;
  box-shadow: 1px 1px 1rem #00000050, inset 0 0 2000px rgba(211, 211, 211, 0.3);
  backdrop-filter: blur(5px);

  &.open {
    left: 30px;
  }
  &.closed {
    left: -25vw;
  }

  #close {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  #menu {
    position: absolute;
    left: 25vw;
    top: 25px;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    padding: 40px;
  }
}

input {
  background-color: transparent;
  width: 100%;
}

.post-input {
  margin: 30px auto;
}

.Dropdown-control {
  background-color: #1baf64;
}

blockquote {
  border-left: 34px solid #1baf64;
  padding: 20px;
  margin-left: 13px;
}

a {
  text-decoration: none;
  transition: 0.5s;
  padding: 8px 8px;
}

@media (max-width: 730px) {
  #sidebar {
    width: 100vw;
    #menu {
      left: 100vw;
    }
    &.open {
      left: 0;
    }
    &.closed {
      left: -100vw;
    }
  }
}
